// Language: scss
// Path: frontend/src/styles/views/_index.scss

main {
  min-height: 80vh;
}

h3 {
  padding: 1rem 0;
}
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

.rating span {
  margin: 0.1rem;
}

.spinner-border {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  margin-top: 10rem;
}
